.parent-panel {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.panel-div1 {
  height: 510px;
  grid-area: 1 / 1 / 4 / 3;
  /* background-color: blueviolet; */
}
.panel-div2 {
  height: 250px;
  grid-area: 1 / 3 / 2 / 4;
  /* background-color: rgb(43, 67, 226); */
}
.panel-div3 {
  height: 250px;
  grid-area: 1 / 4 / 2 / 5;
  /* background-color: rgb(43, 226, 156); */
}
.panel-div4 {
  height: 250px;
  grid-area: 2 / 3 / 3 / 4;
  /* background-color: rgb(147, 226, 43); */
}
.panel-div5 {
  height: 250px;
  /* background-color: rgb(226, 195, 43); */
  grid-area: 2 / 4 / 3 / 5;
}
