.canva-historial {
  position: absolute;
  z-index: -1;
  background-color: var(--bg-color);
  background-size: cover;
}

.canvas-wrapper {
  position: relative;
  left: -5%;
  min-height: 100vh;
  width: 110%;
  mask-image: linear-gradient(to top, black 80%, transparent);
  overflow: hidden;
}

.container-nosotros {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-effect);
  padding-top: 100px;
}
