.card-jugador,
.card-jugador2 {
  position: relative;
  min-height: 370px;
  min-width: 220px;
  max-height: 370px;
  max-width: 220px;
  background-color: #24bcec;
}

.card-jugador:hover,
.card-jugador2:hover {
  .container-btns {
    display: flex;
    position: absolute;
  }
}

.container-btns {
  display: none;
  z-index: 1000;
}

.background-datos {
  position: absolute;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
  z-index: 10;
  min-height: 370px;
  min-width: 220px;
  max-height: 370px;
  max-width: 220px;
  backdrop-filter: blur(4px) saturate(10%);
  -webkit-backdrop-filter: blur(4px) saturate(10%);
  background-color: rgba(80, 80, 80, 0.449);
}

.background-datos2 {
  position: absolute;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
  z-index: 10;
  min-height: 250px;
  min-width: 150px;
  max-height: 250px;
  max-width: 150px;
  backdrop-filter: blur(4px) saturate(10%);
  -webkit-backdrop-filter: blur(4px) saturate(10%);
  background-color: rgba(80, 80, 80, 0.449);
}

.card-jugador:hover .background-datos {
  opacity: 1;
  pointer-events: auto;
}

.card-jugador:hover .background-datos2 {
  opacity: 1;
  pointer-events: auto;
}

.card-jugador:hover {
  .container-btns {
    display: flex;
    position: absolute;
    transform: translateX(140px);
  }
}

.container-datos {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
}

.container-datos2 {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
}

.label-datos {
  cursor: pointer;
  width: 40%;
  height: 50px;
  text-align: center;
  h1 {
    font-size: 5rem;
    margin: 0;
    color: #24bcec;
    /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
  }
  span {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    color: black;
    line-height: 1.45;
    white-space: normal;
  }
}

.label-datos2 {
  cursor: pointer;
  width: 50%;
  height: 50px;
  text-align: center;
  h1 {
    font-size: 4rem;
    margin: 0;
    color: #24bcec;
  }
  span {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    color: black;
    line-height: 1.45;
    white-space: normal;
  }
}

.card-jugador:hover .slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.container-datos {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
}

.img-jugador {
  height: 300px;
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(black 80%, transparent);
}

@media (max-width: 600px) {
  .img-jugador {
    object-fit: fill;
  }
}

@media (max-width: 500px) {
  .img-jugador {
    height: auto;
  }
}

.text-p {
  width: 90%;
  font-size: x-large;
  line-height: 1;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.numero-jugador {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgba(46, 46, 46);
  transform: translate(-5px, -50px);
  width: auto;
  height: 100px;
  text-align: center;
}

.num-p {
  text-align: center;
  margin-top: 40%;
  margin-bottom: 40%;
  padding-right: 5px;
  padding-left: 5px;
  color: #24bcec;
  font-size: 3rem;
  transform: scale(1, 1.5);
}
a {
  text-decoration: none;
}
