.card-jugador,
.card-jugador2 {
  min-height: 370px;
  min-width: 220px;
  max-height: 370px;
  max-width: 220px;
  background-color: #24bcec;
  transition: 100ms ease;
}

.card-jugador:hover,
.card-jugador2:hover {
  .container-btns {
    display: flex;
    position: absolute;
    transform: translateX(360px);
  }
}

.container-btns {
  display: none;
  z-index: 1000;
}

.card-jugador:hover {
  transform: scale(1.1);

  .container-btns {
    display: flex;
    position: absolute;
    transform: translateX(140px);
  }
}

.img-jugador {
  height: 300px;
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(black 80%, transparent);
}

.text-p {
  width: 90%;
  font-size: x-large;
  line-height: 1;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.numero-jugador {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgba(46, 46, 46);
  transform: translate(-5px, -50px);
  width: auto;
  height: 100px;
  text-align: center;
}

.num-p {
  text-align: center;
  margin-top: 40%;
  margin-bottom: 40%;
  padding-right: 5px;
  padding-left: 5px;
  color: #24bcec;
  font-size: 3rem;
  transform: scale(1, 1.5);
}
a {
  text-decoration: none;
}
