.tabla-liga {
  color: white;
  width: 100%;
}

.img-table-equipo {
  width: 16px;
  height: 16px;
}

.container-liga-scroll {
  max-height: 530px;
  overflow-y: hidden;
}

.th-liga {
  padding-inline: 20px;
}

.td-liga {
  text-align: center;
}

.td-liga-e {
  padding-left: 10px;
  text-align: left;
}

.bg-fila-dk {
  background-color: var(--bg-fila-liga);
}

.bg-fila-lg {
  background-color: var(--bg-fila-liga2);
}
