.tabla-liga {
  color: white;
  width: 100%;
}

.container-liga-scroll {
  max-height: 420px;
  overflow-y: auto;
}

.th-liga {
  padding-inline: 20px;
}

.td-liga {
  text-align: center;
}

.bg-fila-dk {
  background-color: var(--bg-fila-liga);
}

.bg-fila-lg {
  background-color: var(--bg-fila-liga2);
}
