#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
  /* margin: 0 auto; */
}

.container-perfil {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-self: center;
  width: 95%;
  margin-top: 15vh;
  min-height: 100vh;

  h1 {
    color: var(--text-th);
  }
}

.jugador-perfil {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container-jugador-datos {
  display: flex;
  width: fit-content;
  min-width: 615px;
}

.container-perfil-datos {
  display: flex;
}

.form-edit-perfil {
  position: absolute;
  /* left: 60%; */
  /* bottom: 2%; */
  width: auto;
  height: auto;
  z-index: 10;
}

.cerrar-form {
  position: absolute;
  z-index: 101;
  right: 0;
  background-color: #24bcec;
  width: 20%;
  height: 5%;
  border-top-right-radius: 5px;
  border-color: none;
  outline: none;
}

.perfil-item {
  margin-left: 20px;
  p {
    color: var(--text-th);
    margin: 0;
  }
  .color-text {
    color: var(--text-effect);
  }
}

.div-cancha {
  display: flex;
  position: relative;
  width: 100%;
  max-height: 560px;
  /* width: fit-content; */
  justify-content: center;
}

@media (max-width: 900px) {
  .jugador-perfil {
    flex-direction: column;
  }

  .container-perfil-datos {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .div-cancha {
    display: block;
    justify-items: normal;
    width: 100%;
    right: 0;
  }

  .container-jugador-datos {
    margin-bottom: 50px;
    min-width: 0px;
  }
}
