.video {
  width: 100%;
  height: 90%;
}

@media (min-width: 1200px) {
  .video {
    width: 100%;
    height: 80%;
  }
}

.titulo-video {
  color: var(--text-color-videos);
  margin-top: -20px;
  width: 100%;
  word-wrap: break-word;
  padding: 5px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;

  overflow: hidden;
  text-overflow: ellipsis;

  line-height: 1;
}
