#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* margin: 0 auto; */
}

.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 8%;
  justify-self: center;
}

.gap {
  display: flex;
  margin-top: 50px;
}

@media (max-width: 430px) {
  .container {
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    margin-top: 100px;
    /* justify-self: center; */
  }
}
