.btn-icon {
  display: flex;
  /* position: absolute; */
  /* right: 0; */
}

.deleteButton {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  top: 70%;
  right: 0;
  overflow: hidden;
}
.deleteButton svg {
  width: 44%;
}
.deleteButton:hover {
  background-color: #ed3838;
  overflow: visible;
}
.bin path {
  transition: all 0.2s;
}
.deleteButton:hover .bin path {
  fill: #fff;
}
.deleteButton:active {
  transform: scale(0.98);
}
.tooltip {
  display: none;
  --tooltip-color: rgb(41, 41, 41);
  position: absolute;
  top: -40px;
  background-color: var(--tooltip-color);
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 8px 12px;
  font-weight: 600;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease display 0.3s ease allow-discrete;
}
.tooltip::before {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  content: "";
  background-color: var(--tooltip-color);
  display: flex;
  bottom: -10%;
}
.deleteButton:hover .tooltip {
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease;

  @starting-style {
    opacity: 0;
  }
}

.editButton {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  overflow: hidden;
}
.editButton svg {
  width: 70%;
}
.editButton:hover {
  background-color: rgb(0, 88, 188);
  overflow: visible;
}
.bin path {
  transition: all 0.2s;
}
.editButton:hover .bin path {
  stroke: #fff;
}
.editButton:active {
  transform: scale(0.98);
}

.editButton:hover .tooltip {
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease;

  @starting-style {
    opacity: 0;
  }
}

.checkButton {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  overflow: hidden;
}
.checkButton svg {
  width: 70%;
}
.checkButton:hover {
  background-color: #00bc61;
  overflow: visible;
}
.bin path {
  transition: all 0.2s;
}
.checkButton:hover .bin path {
  stroke: #fff;
}
.checkButton:active {
  transform: scale(0.98);
}

.checkButton:hover .tooltip {
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease;

  @starting-style {
    opacity: 0;
  }
}

.cancelButton {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  overflow: hidden;
}
.cancelButton svg {
  width: 70%;
}
.cancelButton:hover {
  background-color: #ed3838;
  overflow: visible;
}
.bin path {
  transition: all 0.2s;
}
.cancelButton:hover .bin path {
  stroke: #fff;
}
.cancelButton:active {
  transform: scale(0.98);
}

.cancelButton:hover .tooltip {
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease;

  @starting-style {
    opacity: 0;
  }
}
