.container-jugadores {
  display: flex;
  flex-direction: column;
}

.container-puesto {
  display: flex;
  flex-direction: column;

  h1 {
    color: var(--text-th);
  }
}

.puestos {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  gap: 50px;
}
