.container-jugadores {
  display: flex;
  flex-direction: column;
}

.container-puesto {
  display: flex;
  flex-direction: column;

  h1 {
    color: #24bcec;
  }
}

.puestos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;

  justify-content: center;
}
