@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Annie+Use+Your+Telescope&family=Dhurjati&family=Honk&family=Jost:ital,wght@0,100..900;1,100..900&family=Knewave&family=Lugrasimo&family=Modak&family=Permanent+Marker&family=Rampart+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&family=Rubik+Doodle+Shadow&display=swap");
.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.parent {
  width: 100%;
  height: 100%;
  /* background-color: antiquewhite; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div2 {
  height: 250px;
  grid-area: 1 / 2 / 2 / 3;
  /* background-color: blueviolet; */
}
.div1 {
  height: 500px;
  grid-area: 1 / 1 / 3 / 2;
  /* background-color: rgb(43, 226, 141); */
}
.div3 {
  height: 250px;
  grid-area: 2 / 2 / 3 / 3;
  /* background-color: rgb(226, 208, 43); */
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-grid {
  width: 100%;
  height: 100%;
  display: block;
}

.titulo-nota {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  color: var(--text-color);
  line-height: 1.45;
}

.text-effect {
  background-color: var(--text-effect);
  padding: 2px 6px;
  color: #24bcec;
  border-end-end-radius: 0.2rem;
  border-top-right-radius: 0.5rem;
}
.text-effect2 {
  background-color: #24bcec;
  padding: 2px 6px;
  border-end-end-radius: 0.2rem;
  border-top-right-radius: 0.5rem;
}
