#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.container-nota {
  /* background-color: aliceblue; */
  /* display: flex; */
  flex-direction: row;
  /* align-items: center; */
  justify-self: center;
  justify-content: center;
  width: 90%;
  margin-top: 15vh;
  gap: 2%;
  z-index: 10;
}

.vista-previa {
  color: var(--text-effect);
}

.btn-editor {
  width: fit-content;
  height: 40px;
  border-radius: 10px;
  background-color: royalblue;
  /* outline-color: 0px none; */
  border-color: royalblue;
  cursor: pointer;
}

.abs {
  position: fixed;
  z-index: 10000;
  top: 11%;
  right: 2%;
}

.hidden {
  display: none;
}
