#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.container-nota {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-self: center; */
  /* justify-content: center; */
  min-height: 100vh;
  width: 100%;
  margin-top: 15vh;
  gap: 2%;
  z-index: 10;
  img {
    max-width: 100%;
    height: auto;
  }

  h3 {
    color: #24bcec;
  }
}

.vista-previa-nota {
  justify-self: center;
  width: 80%;
  position: relative;
  color: var(--text-effect);
}

.btn-editor {
  width: fit-content;
  height: 40px;
  border-radius: 10px;
  background-color: royalblue;
  /* outline-color: 0px none; */
  border-color: royalblue;
  cursor: pointer;
}

.abs {
  position: fixed;
  z-index: 10000;
  top: 11%;
  right: 2%;
}

.hidden {
  display: none;
}

.container-mas-noticias {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  position: relative;
  height: fit-content;
  align-self: flex-end;
  .caratula-mas-noticas {
    position: relative;
    height: 100%;
  }
}

@media (max-width: 930px) {
  .container-mas-noticias {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
    position: relative;
    right: 0;
    height: fit-content;
    justify-self: center;
    .caratula-mas-noticas {
      position: relative;
      height: 100%;
    }
  }
  .vista-previa-nota {
    /* justify-self: center; */
    width: 95%;
    position: relative;
    color: var(--text-effect);
  }

  .container-nota {
    /* background-color: aliceblue; */
    display: initial;
    flex-direction: row;
    /* align-items: center; */
    justify-self: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin-top: 15vh;
    gap: 2%;
    z-index: 10;
    img {
      max-width: 100%;
      height: auto;
    }

    h3 {
      color: #24bcec;
    }
  }
}
