#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* margin: 0 auto; */

  width: 100%;
  max-width: 100vw;
  min-width: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  box-sizing: border-box;
}

.container-historial {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 15vh;
  justify-self: center;
  min-height: 100vh;
  position: relative;

  h1 {
    text-align: center;
    color: #24bcec;
  }

  h4 {
    width: 50%;
    text-align: start;
    color: #24bcec;
  }

  .vista-previa {
    button {
      cursor: pointer !important;
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      font-size: x-large;
    }
    button:hover {
      background: #00ffcc;
    }
  }

  .label-agradecimiento {
    position: absolute;
    bottom: 0;
  }
}

.fondo-img-historial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  background: url(/bg_historial.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.filtro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  backdrop-filter: blur(0px) saturate(0%);
  -webkit-backdrop-filter: blur(0px) saturate(0%);
  background-color: var(--bg-filtro);
  border-radius: 12px;
  border: 0px solid rgba(209, 213, 219, 0.18);
}

@media (max-width: 700px) {
  .vista-previa {
    table {
      /* display: flex; */
      width: 100% !important;
    }
    overflow-x: auto;
    ::-webkit-scrollbar {
      display: none !important;
    }
    scrollbar-width: none;
  }

  .container-historial {
    h4 {
      width: 100%;
      /* text-align: start; */
      color: var(--text-th);
    }
  }
}
